/* Inicio reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
}
span{
  font-family: inherit;
}
/* Fim reset */

/* header */
header{
width: 100%;
padding: 10px 20px;
background-color: #ffdbbc;
}
header .content{
max-width: 960px;
margin: 0 auto;
padding: 25px 60px;
}
h1{
font-family: PlayfairDisplay;
font-size: 30px;
font-weight: bold;
line-height: 1.32;
color: #000000;
float: left;

}
h1 span {
color: #e82147;

}

.busca{
width: 386px;
height: 40px;
border-radius: 20px;
box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
background-color: #fff;
padding: 0px 20px;
float: left;
margin-left: 13%;
    
}
.palavra-chave{
border: none;
width: 85%;
height: 38px;
font-size: 14px;
color: lightslategrey;
font-weight: bold;
}
.lupa{
float: right;
height: 24px;
width: 24px;
background: url("assets/Lupa@2x.png") no-repeat;
border: none;
margin-top: 8px;
}

.perfil_link{
float: right;
width: 200px;
color: #e82147;
vertical-align: middle;
}
.nome{
font-family: Roboto;
font-size: 14px;
font-weight: bold;
float: right;
line-height: 60px;
margin-right: 15px;

}
.foto {
width: 40px;
height: 40px;
border-radius: 50px;
box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
background-color: #e82147;
padding: 10px;
float: right;
overflow: hidden;
}
.receita{
display: block;
background: url('./assets/Elemento_1.png') no-repeat center right;
width: 560px;
margin: 100px auto 54px;
min-height: 221px;
position: relative;
}
.saudacao{
float: left;
font-size: 28px;
font-family: PlayfairDisplay;
font-weight: bold;
padding-top: 15px;
}
.saudacao span{
color: #e82147;
}
.info_receita{
position: absolute;
left: 0;
bottom: 25px;
font-size: 12px;
font-weight: bold;
line-height: 16px;

}
.info_receita span{
color: #e82147;
}
.prato{
padding: 15px 22px;
width: 280px;
float: right;
height: 200px;
text-align: center;
position: relative;
}
#prato_hover{
background: #fff url('assets/Seta_direita.png') 10px center no-repeat;
width: 177px;
color: #e82147;
font-size: 14px;
padding: 15px 24px;
position: absolute;
bottom: 20px;
left: 49px;
z-index: 2;
text-align: left;
opacity: 0;
}
.prato:hover #prato_hover{
opacity: 1;
}
.adorno{
background: url('assets/Elemento_2.png');
position: absolute;
width: 138px;
height: 137px;
top: 39%;
left: 10%;
}
.quote-bg{
width: 100%;        
height: 100%;
opacity: 0.73;
background-color: #7c7878;
position: relative;
z-index: 1;
}
.quote-content{
width: 730px;
border: 10px solid #797979;
min-height: 220px;
opacity: 1;
position: fixed;
top: 25%;
left: 15%;
z-index: 2;
background: #fff;
}